/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  background-color: grey;
  font-family: "Times New Roman", sans-serif;
  font-size: 12px;
  color: black;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
  text-align: right;
  font-family: "Georgia", sans-serif;

}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  color: black;
  border-bottom:1px solid black;
  padding-right:50px;
  font-family: "Georgia", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  color: black;
  font-family: "Georgia", sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
  text-align: center;
  font-family: "Georgia", sans-serif;
}

h5 {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  color: white;
  text-align: center;
  font-family: "Georgia", sans-serif
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}




/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.left {
  width: 25%;
  background-color: rgb(0,95,170);
}

/* right column */
.column.right {
  width: 75%;
  background-color: #FFFFFF;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.right {
    width: 100%;
  }
}

.myimg{
  width:200px;
  height: 200px;
  object-fit:cover;
  border-radius: 50%;
}